<%if(user) {%>

      
<!DOCTYPE html>
<html lang="en">
<head>
  
     <script src="https://reborncraft.pw/apps/main/public/assets/js/main.min.js?v=525"></script>
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(window).load(function () {
                $('#preloader').fadeOut(1000, function () { $(this).remove(); });
            });
        });
</script>
    
    <style type="text/css">
    .js div#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #202025 url('') no-repeat center center;
}
    </style>
  
<title>Uptime</title>
	<link rel="shortcut icon" href="https://cdn.discordapp.com/attachments/723279024050405427/740937064371060877/uptime-site.png">
			<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
				<meta name="description" content="English-based Uptime site made by Turkish Developers.">
		<meta property="og:title" content="Uptime">
		<meta property="og:description" content="English-based Uptime site made by Turkish Developers.">
		<meta property="og:image" content="https://cdn.discordapp.com/attachments/723279024050405427/740937064371060877/uptime-site.png">
		<meta property="theme-color" content="#2c2f33">
	<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="https://colorlib.com/etc/lf/Login_v5/vendor/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://colorlib.com/etc/lf/Login_v5/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="https://colorlib.com/etc/lf/Login_v5/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<link rel="stylesheet" type="text/css" href="https://colorlib.com/etc/lf/Login_v5/vendor/animate/animate.css">
<link rel="stylesheet" type="text/css" href="https://colorlib.com/etc/lf/Login_v5/vendor/css-hamburgers/hamburgers.min.css">
<link rel="stylesheet" type="text/css" href="https://colorlib.com/etc/lf/Login_v5/vendor/animsition/css/animsition.min.css">
<link rel="stylesheet" type="text/css" href="https://colorlib.com/etc/lf/Login_v5/vendor/select2/select2.min.css">
<link rel="stylesheet" type="text/css" href="https://colorlib.com/etc/lf/Login_v5/vendor/daterangepicker/daterangepicker.css">
<link rel="stylesheet" type="text/css" href="https://colorlib.com/etc/lf/Login_v5/css/util.css">
<link rel="stylesheet" type="text/css" href="https://colorlib.com/etc/lf/Login_v5/css/main.css">
  <style>
  
.container-login100 {
    background-image: url(https://cdn.discordapp.com/attachments/739846345107570758/740985721866944623/14c037b7102f18b2d2ccf065a52bb595.png);
} 
  </style>
</head>
<body>
  
             <div class="js">
    <div id="preloader"></div>
      <div>
 </div>
</div>
  
  <style>
    /*Login*/
.btn-face,
.btn-login {
  font-family: Montserrat-SemiBold;
  font-size: 18px;
  line-height: 1.2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  width: calc((100% - 20px) / 2);
  height: 70px;
  border-radius: 10px;
  box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  position: relative;
  z-index: 1;
}
.btn-login {
  color: #555555;
  background-color: #4ca74c;
}
.btn-login img {
  width: 30px;
  margin-right: 15px;
  padding-bottom: 3px;
}
    
    /* Google */
.btn-face,
.btn-logout {
  font-family: Montserrat-SemiBold;
  font-size: 18px;
  line-height: 1.2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  width: calc((100% - 20px) / 2);
  height: 70px;
  border-radius: 10px;
  box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  position: relative;
  z-index: 1;
}
.btn-logout {
  color: #555555;
  background-color: #fe7070;
}
.btn-logout img {
  width: 30px;
  margin-right: 15px;
  padding-bottom: 3px;
} 
    .login-form-title {
  width: 100%;
  display: block;
  font-family: Montserrat-Medium;
  font-size: 25px;
  color: #555555;
  line-height: 1.2;
  text-align: center;
}
  </style>
  
<div class="limiter">
<!-- start background code-->
<div class="container-login100" style="background-image: url(https://cdn.discordapp.com/attachments/739846345107570758/740985721866944623/14c037b7102f18b2d2ccf065a52bb595.png)">
<!-- end background code-->
<div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
<form class="login100-form validate-form flex-sb flex-w">
<span class="login-form-title p-b-53"><img style="border-radius: 50px; " height="50" src="https://cdn.discordapp.com/avatars/<%=user.id%>/<%=user.avatar%>"> <%= user.username %>#<%= user.discriminator %> </span>  
<a href="/add" class="btn-login m-b-20" style="color:white">
<img src="https://cdn.discordapp.com/attachments/723279024050405427/740947476105920533/add.png" alt="Add">
Add
</a>
<a href="/logout" class="btn-logout m-b-20" style="color:white">
<img src="https://cdn.discordapp.com/attachments/723279024050405427/740947426830975068/logout.png" alt="Logout">
Logout
  </a>
  <style>
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.login100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 60px;
  background-color: #3ecbd4;
  border-radius: 10px;
  font-family: Poppins-Medium;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  position: relative;
  z-index: 1;
}

.login100-form-btn::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  top: 0;
  left: 0;
  background: #2cbac3;
  opacity: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn:hover:before {
  opacity: 1;
}

  </style>
  <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

<div class="p-t-13 p-b-9">
</div>
<div class="wrap-input100 validate-input" data-validate="Password is required">
<span class="focus-input100"></span>
</div>
<div class="container-login100-form-btn m-t-17">
<a class="container-login100-form-btn m-t-17" href="/profile">
<buton class="login100-form-btn">
<i class="fas fa-user"></i>&nbsp;
Profile
</buton>
</a>
<a class="container-login100-form-btn m-t-17" href="https://discord.gg/R73R2Sm">
<buton class="login100-form-btn">
<i class="fas fa-support"></i>&nbsp;
Do You Need Support?
</buton>
</a>

</div>
</form>
</div>
</div>
</div>
</div>
</div>
</body></html>

  
 <%} else {%>

      
<!DOCTYPE html>
<html lang="en">
<head>

     <script src="https://reborncraft.pw/apps/main/public/assets/js/main.min.js?v=525"></script>
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(window).load(function () {
                $('#preloader').fadeOut(1000, function () { $(this).remove(); });
            });
        });
</script>
    
    <style type="text/css">
    .js div#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #202025 url('') no-repeat center center;
}
    </style>
  
<title>Login to Continue</title>
	<link rel="shortcut icon" href="https://cdn.discordapp.com/attachments/723279024050405427/740937064371060877/uptime-site.png">
			<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
				<meta name="description" content="English-based Uptime site made by Turkish Developers.">
		<meta property="og:title" content="Uptime">
		<meta property="og:description" content="English-based Uptime site made by Turkish Developers.">
		<meta property="og:image" content="https://cdn.discordapp.com/attachments/723279024050405427/740937064371060877/uptime-site.png">
		<meta property="theme-color" content="#2c2f33">
	<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="https://colorlib.com/etc/lf/Login_v5/vendor/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://colorlib.com/etc/lf/Login_v5/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="https://colorlib.com/etc/lf/Login_v5/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<link rel="stylesheet" type="text/css" href="https://colorlib.com/etc/lf/Login_v5/vendor/animate/animate.css">
<link rel="stylesheet" type="text/css" href="https://colorlib.com/etc/lf/Login_v5/vendor/css-hamburgers/hamburgers.min.css">
<link rel="stylesheet" type="text/css" href="https://colorlib.com/etc/lf/Login_v5/vendor/animsition/css/animsition.min.css">
<link rel="stylesheet" type="text/css" href="https://colorlib.com/etc/lf/Login_v5/vendor/select2/select2.min.css">
<link rel="stylesheet" type="text/css" href="https://colorlib.com/etc/lf/Login_v5/vendor/daterangepicker/daterangepicker.css">
<link rel="stylesheet" type="text/css" href="https://colorlib.com/etc/lf/Login_v5/css/util.css">
<link rel="stylesheet" type="text/css" href="https://colorlib.com/etc/lf/Login_v5/css/main.css">
</head>
<body>
  
             <div class="js">
    <div id="preloader"></div>
      <div>
 </div>
</div>
  
  <style>
    /*Discord*/
.btn-face,
.btn-discord {
  font-family: Montserrat-SemiBold;
  font-size: 18px;
  line-height: 1.2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  width: calc((100% - 20px) / 2);
  height: 70px;
  border-radius: 10px;
  box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  position: relative;
  z-index: 1;
}
.btn-discord {
  color: #555555;
  background-color: #7289DA;
}
.btn-discord img {
  width: 30px;
  margin-right: 15px;
  padding-bottom: 3px;
}
    
    /* Google */
.btn-face,
.btn-gooogle {
  font-family: Montserrat-SemiBold;
  font-size: 18px;
  line-height: 1.2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  width: calc((100% - 20px) / 2);
  height: 70px;
  border-radius: 10px;
  box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  position: relative;
  z-index: 1;
}
.btn-gooogle {
  color: #555555;
  background-color: white;
}
.btn-gooogle img {
  width: 30px;
  margin-right: 15px;
  padding-bottom: 3px;
} 
    .login-form-title {
  width: 100%;
  display: block;
  font-family: Montserrat-Medium;
  font-size: 25px;
  color: #555555;
  line-height: 1.2;
  text-align: center;
}
  </style>
  
<div class="limiter">
<!-- start background code-->
<div class="container-login100" style="background-image: url(https://cdn.discordapp.com/attachments/739846345107570758/740985721866944623/14c037b7102f18b2d2ccf065a52bb595.png)">
<!-- end background code-->
<div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
<form class="login100-form validate-form flex-sb flex-w">
<span class="login-form-title p-b-53">Login to Continue</span>  
<a href="/login" class="btn-discord m-b-20" style="color:white">
<img src="https://discord.com/assets/28174a34e77bb5e5310ced9f95cb480b.png" alt="Discord">
Discord
</a>
<a href="?google=ComingSoonInV2Version" class="btn-gooogle m-b-20" style="color:#555555">
<img src="https://colorlib.com/etc/lf/Login_v5/images/icons/icon-google.png" alt="Google" >
Google
  </a>
  <style>
  .container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.login100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 60px;
  background-color: #23272A;
  border-radius: 10px;

  font-family: Poppins-Medium;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  position: relative;
  z-index: 1;
}

.login100-form-btn::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  top: 0;
  left: 0;
  background: #2C2F33;
  opacity: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn:hover:before {
  opacity: 1;
}
  </style>
<div class="p-t-13 p-b-9">
</div>
<div class="wrap-input100 validate-input" data-validate="Password is required">
<span class="focus-input100"></span>
</div>
<div class="container-login100-form-btn m-t-17">

<a class="container-login100-form-btn m-t-17">
<buton class="login100-form-btn">
  by Alfonzo#1921 and cenap#4160 
</buton>
</a>

</div>
</form>
</div>
</div>
</div>
</div>
</div>
</body></html>

<% } %>
